In [1]:
import pandas as pd

In [2]:
path = "D:\\data\\project\\"
data = "201901-citibike-tripdata.csv.zip"

df = pd.read_csv(f"{path}{data}", compression="zip")

In [3]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,2019-01-31 17:33:26.4490,2019-01-31 17:38:17.8940,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,2
967283,437,2019-01-31 18:57:45.3380,2019-01-31 19:05:02.4970,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3313.0,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,2
967284,173,2019-01-31 19:11:41.1930,2019-01-31 19:14:34.3350,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3418.0,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,1
967285,244,2019-01-31 20:54:51.1440,2019-01-31 20:58:55.3100,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3346.0,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,1
967286,387,2019-01-31 23:38:42.1770,2019-01-31 23:45:09.4520,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,1

In [4]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

# transform   
### convert to datetime

In [5]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])
df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

### convert gender number to string

In [6]:
def changeGender(num:int) -> str:
    if num == 0:
        return "unknown"
    elif num == 1:
        return "male"
    elif num == 2:
        return "female"

In [7]:
df['gender'] = df['gender'].apply(changeGender)

In [8]:
df['gender'].unique()

array(['male', 'female', 'unknown'], dtype=object)

In [9]:
df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                             object
dtype: object

### find na in data frame

In [23]:
df.isnull().sum().sum()

72

In [11]:
df.isnull().sum()

tripduration                0
starttime                   0
stoptime                    0
start station id           18
start station name         18
start station latitude      0
start station longitude     0
end station id             18
end station name           18
end station latitude        0
end station longitude       0
bikeid                      0
usertype                    0
birth year                  0
gender                      0
dtype: int64

In [22]:
df1 = df
df1['null'] = df1['start station id'].isnull()
df1[df1['null']==True]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,null
248483,2358,2019-01-08 13:48:13.812,2019-01-08 14:27:32.016,NaN,NaN,40.854,-73.890,NaN,NaN,40.857,-73.881,34550,Subscriber,1992,male,True
249690,3358,2019-01-08 14:29:31.515,2019-01-08 15:25:29.713,NaN,NaN,40.857,-73.884,NaN,NaN,40.857,-73.884,34550,Subscriber,1992,male,True
336359,596,2019-01-10 14:35:39.212,2019-01-10 14:45:35.413,NaN,NaN,40.863,-73.890,NaN,NaN,40.866,-73.884,34550,Subscriber,1986,male,True
337008,816,2019-01-10 14:56:38.425,2019-01-10 15:10:14.812,NaN,NaN,40.857,-73.890,NaN,NaN,40.854,-73.902,34447,Subscriber,1986,male,True
396461,393,2019-01-12 12:36:01.144,2019-01-12 12:42:34.952,NaN,NaN,40.854,-73.890,NaN,NaN,40.857,-73.884,34536,Customer,1997,male,True
406295,214,2019-01-12 17:11:01.711,2019-01-12 17:14:36.542,NaN,NaN,40.854,-73.890,NaN,NaN,40.854,-73.890,34887,Subscriber,1985,unknown,True
407649,2949,2019-01-12 17:59:16.413,2019-01-12 18:48:26.240,NaN,NaN,40.854,-73.902,NaN,NaN,40.860,-73.890,34447,Subscriber,1992,male,True
507355,807,2019-01-15 20:49:27.612,2019-01-15 21:02:55.511,NaN,NaN,40.854,-73.893,NaN,NaN,40.851,-73.905,34576,Subscriber,1989,female,True
579801,2631,2019-01-17 18:10:35.913,2019-01-17 18:54:27.315,NaN,NaN,40.851,-73.905,NaN,NaN,40.851,-73.905,34576,Subscriber,1971,male,True
661484,2885,2019-01-21 00:17:02.710,2019-01-21 01:05:07.913,NaN,NaN,40.851,-73.905,NaN,NaN,40.848,-73.908,34576,Customer,1993,male,True
666099,560,2019-01-21 13:53:24.114,2019-01-21 14:02:44.711,NaN,NaN,40.863,-73.884,NaN,NaN,40.863,-73.890,34550,Subscriber,1986,male,True
666235,419,2019-01-21 14:05:00.455,2019-01-21 14:11:59.913,NaN,NaN,40.863,-73.890,NaN,NaN,40.863,-73.890,34550,Subscriber,1986,male,True
666393,484,2019-01-21 14:17:44.111,2019-01-21 14:25:48.512,NaN,NaN,40.863,-73.890,NaN,NaN,40.863,-73.893,34550,Subscriber,1986,male,True
667586,189,2019-01-21 15:52:59.816,2019-01-21 15:56:09.013,NaN,NaN,40.863,-73.890,NaN,NaN,40.863,-73.890,34550,Subscriber,1986,male,True
826255,759,2019-01-26 22:37:57.027,2019-01-26 22:50:36.428,NaN,NaN,40.854,-73.893,NaN,NaN,40.851,-73.902,34892,Subscriber,1985,unknown,True
826813,1659,2019-01-26 23:40:03.030,2019-01-27 00:07:42.226,NaN,NaN,40.851,-73.899,NaN,NaN,40.854,-73.911,34892,Subscriber,1985,unknown,True
888050,621,2019-01-28 19:31:38.591,2019-01-28 19:41:59.687,NaN,NaN,40.854,-73.893,NaN,NaN,40.842,-73.881,34481,Subscriber,1975,male,True
948597,629,2019-01-30 23:40:05.091,2019-01-30 23:50:34.689,NaN,NaN,40.845,-73.911,NaN,NaN,40.845,-73.893,34576,Customer,1993,male,True